In [6]:
import pandas as pd

file = "movies_data.csv"
df_unfiltered = pd.read_csv(file, nrows=100)
df = df_unfiltered.dropna(axis=1, how='all')

columns_of_interest = ['Name','Year','Genre','Rating']  # Replace with your actual column names
df_selected = df[columns_of_interest]


print(df_selected)

                                  Name  Year                      Genre  \
0   #Gadhvi (He thought he was Gandhi)  2019                      Drama
1                              #Yaaram  2019            Comedy, Romance
2                 ...Aur Pyaar Ho Gaya  1997     Comedy, Drama, Musical
3                            ...Yahaan  2005        Drama, Romance, War
4                   ?: A Question Mark  2012  Horror, Mystery, Thriller
..                                 ...   ...                        ...
95                      Aa Dekhen Zara  2009   Action, Sci-Fi, Thriller
96                     Aa Gale Lag Jaa  1973     Action, Drama, Romance
97                     Aa Gale Lag Jaa  1994           Mystery, Romance
98                        Aa Gaya Hero  2017                     Action
99                       Aa Jao Please  2016                      Drama

    Rating
0      7.0
1      4.4
2      4.7
3      7.4
4      5.6
..     ...
95     5.0
96     7.2
97     4.4
98     2.7
99     6.8

[100 rows x 4 columns]

### Ratings by Genre

#### Mean

In [7]:
mean_ratings = df_selected.groupby('Genre')['Rating'].mean()
print(mean_ratings)

Genre
Action                        4.125000
Action, Adventure, Comedy     3.000000
Action, Adventure, Fantasy    4.600000
Action, Biography, Drama      5.300000
Action, Comedy                6.350000
Action, Crime, Drama          8.100000
Action, Crime, Thriller       4.500000
Action, Drama, History        6.500000
Action, Drama, Romance        7.200000
Action, Drama, War            8.100000
Action, Fantasy, Mystery      5.400000
Action, Sci-Fi                6.200000
Action, Sci-Fi, Thriller      5.000000
Action, Thriller              6.900000
Adventure, Drama              4.300000
Adventure, Drama, Mystery     6.600000
Adventure, Horror, Mystery    6.800000
Biography, Drama, History     5.100000
Comedy                        6.166667
Comedy, Crime, Drama          7.300000
Comedy, Drama                 7.033333
Comedy, Drama, Musical        4.700000
Comedy, Drama, Romance        6.300000
Comedy, Horror                6.600000
Comedy, Mystery, Thriller     5.700000
Comedy, Romance               4.666667
Crime, Drama                  6.300000
Crime, Drama, Mystery         7.200000
Crime, Mystery, Thriller      3.500000
Crime, Thriller               5.700000
Documentary                   6.200000
Drama                         6.575000
Drama, Family, Musical        7.800000
Drama, History                7.700000
Drama, Horror, Musical        4.100000
Drama, Horror, Mystery        7.300000
Drama, Horror, Romance        4.650000
Drama, Mystery, Thriller      6.700000
Drama, Romance                6.433333
Drama, Romance, War           7.400000
Drama, Thriller               7.500000
Horror                        5.500000
Horror, Mystery               5.450000
Horror, Mystery, Romance      5.450000
Horror, Mystery, Thriller     5.600000
Horror, Romance               5.000000
Horror, Romance, Thriller     6.500000
Horror, Sci-Fi, Thriller      3.600000
Horror, Thriller              4.400000
Musical, Romance              7.400000
Musical, Romance, Drama       5.500000
Mystery, Romance              4.400000
Mystery, Thriller             4.700000
Romance                       6.000000
Sport                         6.100000
Thriller                      4.840000
Name: Rating, dtype: float64

#### Median

In [9]:
median_ratings = df_selected.groupby('Genre')['Rating'].median()
print(median_ratings)

Genre
Action                        4.25
Action, Adventure, Comedy     3.00
Action, Adventure, Fantasy    4.60
Action, Biography, Drama      5.30
Action, Comedy                6.35
Action, Crime, Drama          8.10
Action, Crime, Thriller       4.50
Action, Drama, History        6.50
Action, Drama, Romance        7.20
Action, Drama, War            8.10
Action, Fantasy, Mystery      5.40
Action, Sci-Fi                6.20
Action, Sci-Fi, Thriller      5.00
Action, Thriller              6.90
Adventure, Drama              4.30
Adventure, Drama, Mystery     6.60
Adventure, Horror, Mystery    6.80
Biography, Drama, History     5.10
Comedy                        6.10
Comedy, Crime, Drama          7.30
Comedy, Drama                 7.40
Comedy, Drama, Musical        4.70
Comedy, Drama, Romance        6.30
Comedy, Horror                6.60
Comedy, Mystery, Thriller     5.70
Comedy, Romance               4.40
Crime, Drama                  6.30
Crime, Drama, Mystery         7.20
Crime, Mystery, Thriller      3.50
Crime, Thriller               5.70
Documentary                   6.20
Drama                         6.85
Drama, Family, Musical        7.80
Drama, History                7.70
Drama, Horror, Musical        4.10
Drama, Horror, Mystery        7.30
Drama, Horror, Romance        4.65
Drama, Mystery, Thriller      6.70
Drama, Romance                7.50
Drama, Romance, War           7.40
Drama, Thriller               7.50
Horror                        5.75
Horror, Mystery               5.45
Horror, Mystery, Romance      5.45
Horror, Mystery, Thriller     5.60
Horror, Romance               5.00
Horror, Romance, Thriller     6.50
Horror, Sci-Fi, Thriller      3.60
Horror, Thriller              4.40
Musical, Romance              7.40
Musical, Romance, Drama       5.50
Mystery, Romance              4.40
Mystery, Thriller             4.70
Romance                       6.00
Sport                         6.10
Thriller                      5.30
Name: Rating, dtype: float64

#### Mode

In [12]:
mode_ratings = df_selected.groupby('Genre')['Rating'].apply(lambda x: x.mode()[0])
print(mode_ratings)

Genre
Action                        2.7
Action, Adventure, Comedy     3.0
Action, Adventure, Fantasy    4.6
Action, Biography, Drama      5.3
Action, Comedy                6.2
Action, Crime, Drama          8.1
Action, Crime, Thriller       4.0
Action, Drama, History        5.8
Action, Drama, Romance        7.2
Action, Drama, War            8.1
Action, Fantasy, Mystery      5.4
Action, Sci-Fi                6.2
Action, Sci-Fi, Thriller      5.0
Action, Thriller              6.9
Adventure, Drama              4.3
Adventure, Drama, Mystery     6.6
Adventure, Horror, Mystery    6.8
Biography, Drama, History     5.1
Comedy                        5.5
Comedy, Crime, Drama          7.3
Comedy, Drama                 5.3
Comedy, Drama, Musical        4.7
Comedy, Drama, Romance        5.7
Comedy, Horror                6.6
Comedy, Mystery, Thriller     5.7
Comedy, Romance               3.3
Crime, Drama                  4.8
Crime, Drama, Mystery         7.2
Crime, Mystery, Thriller      3.5
Crime, Thriller               5.7
Documentary                   6.2
Drama                         5.6
Drama, Family, Musical        7.8
Drama, History                7.7
Drama, Horror, Musical        4.1
Drama, Horror, Mystery        7.3
Drama, Horror, Romance        4.5
Drama, Mystery, Thriller      6.1
Drama, Romance                3.8
Drama, Romance, War           7.4
Drama, Thriller               7.5
Horror                        4.2
Horror, Mystery               4.1
Horror, Mystery, Romance      4.5
Horror, Mystery, Thriller     5.6
Horror, Romance               5.0
Horror, Romance, Thriller     6.5
Horror, Sci-Fi, Thriller      3.6
Horror, Thriller              4.4
Musical, Romance              7.4
Musical, Romance, Drama       5.5
Mystery, Romance              4.4
Mystery, Thriller             4.7
Romance                       6.0
Sport                         6.1
Thriller                      3.1
Name: Rating, dtype: float64